<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation defaultLanguage="c#" debug="true">
      <compilers>
        <compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE" />
      </compilers>
    </compilation>
    <customErrors mode="Off" />
    <authentication mode="Windows" />
    <authorization>
      <allow users="*" />
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <webServices>
      <!-- 
      <soapExtensionReflectorTypes>
        <add type="Msdn.Web.Services.Samples.HttpsReflector, SoapExtensionLib"/>
      </soapExtensionReflectorTypes>
      -->
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <xhtmlConformance mode="Legacy" />
  </system.web>
  <appSettings>
    <add key="VersionNumber" value="5.30.0.12613-release" />
    <add key="ExcludeErrorCodes" value="10101,10102,10103,10104,10105,10106,10107,10108,10109,10110,10111,10112,10113,10114,10115,10116,10117,10118,10119,10120,10201,10202,10203,10204,10205,10206,10207,10208,10209,10210,20101,20136,20211,20212,20217" />
    <add key="SMTPhost" value="mail.noam.fadv.com" />
    <add key="SMTPport" value="25" />
    <add key="ITExceptionEmail" value="res-systems@fadv.com" />
    <add key="CSRExceptionEmail" value="res-systems@fadv.com" />
    <add key="XMLSchemaPath" value="c:\inetpub\xmlportal.residentdata.com\unitapplication\xsd" />
    <add key="XMLSchemaNamespace" value="http://xmlportal.residentdata.com/WebServices/XMLSchema" />
    <add key="TestID" value="RDITest" />
    <add key="TestPassword" value="RDITest" />
    <add key="TestReportFileName" value="Test_Report.htm" />
    <add key="RedirectURL" value="https://resident.fadv.com/guidverify.aspx?id=" />
    <!-- intelligentsearch.com -->
    <add key="CorrectAddressID" value="cbrown" />
    <add key="CorrectAddressPassword" value="I6GRrEuFrS" />
    <add key="CorrectAddressURL" value="https://www.intelligentsearch.com/CorrectAddressWS/CorrectAddressWebService.asmx/wsCorrectA" />
    <add key="CorrectAddressAction" value="https://www.intelligentsearch.com/CorrectAddressWS/CorrectAddressWebService.asmx/wsCorrectA" />
    <add key="SharedServices.AddressService" value="http://rsweb-ind.noam.fadv.com/SharedServices/webservices/AddressService.asmx" />
    <!-- stager -->
    <add key="StagerUrl" value="http://rsweb-ind.noam.fadv.com/StagerWebService/StagerWebService.asmx" />
    <!-- Common Library Settings -->
    <add key="CLServer" value="rsapp-ind.noam.fadv.com" />
    <add key="CLProtocol" value="tcp" />
    <add key="CLPort" value="52573" />
    <add key="CLApplicationName" value="ResidentData.CommonLibrary" />
    <add key="CLRemoteObjectURIPrefix" value="/" />
    <!-- yardi -->
    <add key="YardiPortalTimeOutSeconds" value="100" />
    <add key="ResidentXChange.ResidentScreeningService" value="http://xmlportal.residentdata.com/residentscreening/ResidentScreening.svc" />
    <!-- Rebranding -->
    <add key="CompanyName" value="First Advantage" />
    <add key="DivisionName" value="Residential Advantage" />
    <add key="SupportEmail" value="resident.support@fadv.com" />
    <add key="SharedServices.AddressService" value="http://rsweb-ind.noam.fadv.com/SharedServices/WebServices/AddressService.asmx"/>
    <add key="SharedServices.DriversLicenseService" value="http://rsweb-ind.noam.fadv.com/SharedServices/WebServices/DriversLicenseService.asmx"/>
    <add key="XMLLogPath" value="c:\SubmitMitsRequest\" />
    <add key="LogXML" value="false" />
  </appSettings>
</configuration>